<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Edit</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-4">
      <form action="/user/edit" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="fullName" class="form-label">FullName</label>
          <input
            type="text"
            class="form-control"
            name="fullName"
            id="fullName"
            value="<%= user.fullName %>"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            aria-describedby="emailHelp"
            value="<%= user.email %>"
          />
        </div>
        <div class="mb-3">
          <label for="profileImage" class="form-label">Profile Image</label>
          <input
            class="form-control"
            name="profileImage"
            type="file"
            id="profileImage"
            accept="image/*"
            onchange="imagePreview(this);"
          />
          <div class="card" style="width: 18rem; margin-left: 10%">
            <img src="/default.png" alt="default" id="avatar" />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script>
      const avatar = document.getElementById("avatar");

      function imagePreview(e) {
        const blob = new Blob([e.files[0]], { type: "image/jpeg" });
        const blobURL = URL.createObjectURL(blob);
        avatar.style.display = "block";
        avatar.src = blobURL;
      }
    </script>
    <%- include('./partials/scripts') %>
  </body>
</html>
